/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@import url('reset.css');

:root {
  /* nav height */
  --nav-height: 64px;
}

body {
  display: none;
  font-size: .875rem;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;

  &[data-block-status="loaded"] {
    visibility: visible;
  }
}

.default-content-wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

.section {
  &.highlight {
    padding: 3em 15px;
    margin-bottom: 1.5em;
    text-align: center;

    & .default-content-wrapper {
      padding-inline: 0;

      > *:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      font-size: 1.625rem;
      font-style: italic;
      margin: 0;
    }

    p {
      font-size: 0.875rem;
      margin: 0 0 1.5em;
    }

    a {
      text-decoration: underline;
    }

    ul {
      padding-left: 0;
      margin: 0 0 1.5em;
      list-style-position: inside;
    }

    picture {
      display: block;
      text-align: center;
    }

    &.background-blue {
      background: #388ce1;
      color: rgb(255 255 255 / 80%);

      h2 {
        color: #fff;
      }

      a {
        color: #fff;
      }
    }

    @media (width >= 48em) {
      margin-bottom: 3em;
      padding-inline: 20px;
    }

    @media (width >= 64em) {
      text-align: left;
    }
  }

  &[data-layout="columns"] {
    > .default-content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & .layout-column:first-of-type {
        width: var(--layout-column-left);
      }

      & .layout-column:last-of-type {
        width: var(--layout-column-right);
      }
    }

    @media (width >= 48em) {
      > .default-content-wrapper {
        flex-direction: row;
      }
    }
  }
}